/* /* ============================================================
  RESET
============================================================ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
/* .container {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
h1{
  font-family: monospace;
  padding:.2em;
  background-color: rgba(255, 255, 255, .5);
}
h2{
  font-family: monospace;
  color: #efefef;
}
section{
  background-color: #37479e;
  color:#FFFFFF;
}

p{
  color: #efefef;
}

ul{
  list-style-type:disc;
  margin-left: 2em;
}
a{
  cursor: pointer;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module h2 {
  margin-bottom: .75em;
  font-size: 30px;
  border-bottom: #B2DFDB;
  border-style: solid;
}

section.module p {
  margin-top: 0em;
  font-size: 16px;
  font-size: 1.2em;
  font-weight: 300;
  font-family: sans-serif;
  line-height: 2em;
}

section.module.content {
  padding: 2em;
  height: auto;
} */
section.module.parallax {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 40em;
  position:static;
  display: flex;
  align-items: center;
}
section.module.parallax h1 {
  color: #212121;
  font-size: 200px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
section.module.parallax-1 {
  background-image: url("./img/IMG_3182.JPG");
  background-position-y: -100px;
}
section.module.parallax-2 {
  background-image: url("./img/Margaret_Hamilton.jpg");
  background-position-y: -140px; 
}
section.module.parallax-3 {
  background-image: url("./img/Reprogramming_ENIAC.jpg");
}

section.module.parallax-4 {
  background-image: url("./img/Grace_Hopper_and_UNIVAC.jpg");
  /*background-position-y: -200px;*/
  overflow-x: hidden;
}

a.hidden {
  position: absolute;
  left: -999px;
}
a.hidden:focus {
    left: 5px;
    text-decoration: none;
    background-color: red;
    padding: 10px;
    font-family: monospace;
    font-weight: bolder;
    font-size: 1.6em;
    top:1.5em;
}
.navbarLinks{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  font-family: monospace;
  font-weight: bolder;
  list-style-type:none;
  margin:.5em 0em;
}
.navbar{
  margin-bottom: 6em;
  background-color: #37479e;
  position:fixed;
  display:block;
  z-index:100;
  width: 100%;
  border-bottom: solid 2px #efefef;
}
.navbarLinks a{
  text-decoration: none;
  font-weight: 200;
  font-size: 1.6em;
  color: #efefef;
}

.projectsItem{
  position: relative;
  display: block;
  margin-bottom: 5em;
}
.projectsLink{
  position: absolute;
  display: inline-block;
  width: 20%;
  top: 20%;
}
.projectsItem p{
  width: 50%;
  display: inline-block;
  position: relative;
  left: 40%;
}

.projects a{
  color: #efefef; 
  font-family: monospace;
  font-size: 24px;
}

.sidebar{
  border:dashed red;
  width:700px;
}
.module.content.projects{
  height:auto;
}

.contact a{
  color: #efefef; 
  font-family: monospace;
  /*padding-right: 5em;*/
  font-size: 24px;
  text-decoration:none;
}

ul.accessibility li{
  display: list-item;
  list-style-type: disc;
  margin-left: 30px;
}

section.about .navbar a.about{
  background-color: red;
}
@media(max-width: 700px) { /* phone sized */
  section.module p {
    font-size: 16px;
  }
  section.module h2 {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 70px;
  }
  section.module a{
    font-size: 18px;
  }
  section.module.parallax-1 {
    background-position-y: 0em;
    background-size: 130%;
    height: 300px;
    padding-top: 50px;
    box-sizing: border-box;
  }
  section.module.parallax-2 {
    background-position-y: 0em;
    background-size: 150%;
  }
  section.module.parallax-4 {
    background-position-y: 0px;
  }  
  ul{
    margin-left:0em;
  }
  .navbar{
    margin-bottom: 0em;
  }
  .navbar a{
    font-size: 1em;
  }
  .contact ul{
    list-style-type:disc;
  }
  .projectsLink {
    display: inline-block;
    width: 100%;
    text-align: center;
    top: 0%;
    position: static;
  }
  .projectsItem p {
    width: 100%;
    display: inline-block;
    position: relative;
    left: 0%;
  }
}
@media(min-width: 600px) and (max-width: 1100px) {/* ipad sized */
  section.module.parallax-1 {
    background-position-y: -9em;
  }
  section.module.parallax h1{
    font-size: 120px;
  }
  section.module.parallax-2 {
    background-position-y: 0px;
  }
} */